[Unit]
Description=batt_log service

[Service]
ExecStart=/usr/local/bin/batt_log
Restart=always
User=$(whoami)

[Install]
WantedBy=multi-user.target

