.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    align-items: stretch;
}

.SessionChart {
    flex-grow: 1;
}

.Sidebar {
    flex-shrink: 0;
}
